<div class="dropdown-list">
  <div class="dropdown-content">
    <div class="megamenu-list">
      {% for level1 in links %}
        <div class="megamenu-item">
          <a class="megamenu-item-title" href="{{ level1.url }}">{{ level1.title }}</a>
          {% assign level2 = level1.links %}
          {% if level2.size > 0 %}
            <ul class="linklist">
              {% for level3 in level2 %}
                <li>
                  <a href="{{ level3.url }}">{{ level3.title }}</a>
                  {% assign level3_links = level3.links %}
                  {% if level3_links.size > 0 %}
                    <ul>
                      {% for level4 in level3_links %}
                        <li>
                          <a href="{{ level4.url }}">{{ level4.title }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      {% endfor %}
    {% comment %} Chỉnh lại thành dạng liên kết link đê {% endcomment %}
    {% comment %} <div class="megamenu">
                                                                                                  {% for sublink in links %}
                                                                                                    <div class="megamenu-item">
                                                                                                      <a href="{{ sublink.url }}" class="megamenu-link">
                                                                                                        {% assign image = 'menu_item_' | append: forloop.index0 | append: '_image' %}
                                                                                                        {% assign title = 'menu_item_' | append: forloop.index0 | append: '_title' %}
                                                                                                        {% assign link = 'menu_item_' | append: forloop.index0 | append: '_link' %}
                              
                                                                                                        {% if section.settings[image] %}
                                                                                                          <img src="{{ section.settings[image] | img_url: 'medium' }}" alt="{{ section.settings[title] }}">
                                                                                                        {% endif %}
                                                                                                        <h4>{{ section.settings[title] }}</h4>
                                                                                                      </a>
                                                                                                    </div>
                                                                                                  {% endfor %}
                                                                  </div> {% endcomment %}
    </div>
    <div class="megamenu-img">
      {% for block in section.blocks %}
        <div class="megamenu-item">
          <a href="{{ block.settings.url }}" class="megamenu-link">
            {% if block.settings.image %}
              <img src="{{ block.settings.image | img_url: 'medium' }}" alt="{{ block.settings.title }}">
            {% endif %}
            <h4>{{ block.settings.title }}</h4>
          </a>
        </div>
      {% endfor %}
    </div>

  </div>
</div>