<link
  rel="stylesheet"
  href="{{ 'header-left-menu.css' | asset_url }}"
  media="print"
  onload="this.media='all'">
<div class="menu-left" id="menu">
  <div class="close-menu-left">
    <svg
      class="Icon Icon--close"
      role="presentation"
      viewBox="0 0 16 14">
      <path
        d="M15 0L1 14m14 0L1 0"
        stroke="currentColor"
        fill="none"
        fill-rule="evenodd"></path>
    </svg>
  </div>
  <ul class="metismenu">
    {% for link in linklists.main-menu.links %}
      <li>
        <button class="accordion">{{ link.title }}<span></span>
        </button>
        <div class="panel">
          <ul>
            {% assign sublinks = link.links %}
            {% for sublink in sublinks %}
              <li>
                <button class="accordion">{{ sublink.title }}<span></span>
                </button>
                <div class="panel">
                  <ul>
                    {% assign subsub_links = sublink.links %}
                    {% for subsub_link in subsub_links %}
                      <li>
                        <a href="{{ subsub_link.url }}">{{ subsub_link.title }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </li>
    {% endfor %}
  </ul>
  <ul>
    <li class="linkitem">Account</li>
    <li class="linkitem">Wishlist</li>
  </ul>
</div>


{% schema %}
  {
    "name": "Header Left Menu",
    "settings": [
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu",
        "default": "main-menu"
      }
    ]
  }
{% endschema %}